.order-list-wrapper {


    .billing-details {
        display: inline-block;
        width: 65%;
        text-align: left;

        &__title {
            font-size: 24px;
            padding-bottom: 50px;
        }

        .form-box {
            padding-right: 20px;
        }

        .inputs-box {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            .input-box-1 {
                flex: 1 1 auto;
            }

            .input-box-2 {
                flex: 1 1 auto;
            }

            
        }
        .input {
            width: 100%;
            max-width: 100%;
            padding: 16px 20px;
            box-sizing: border-box;
            border: 1px solid transparent;
            background-color: #F6F6F6;
            border-radius: 8px;
            resize: vertical;
        }
        
        .input-block {
            display: block;
            margin-bottom: 10px;

            &__title {
                margin-bottom: 5px;
            }
        }
    }
}

.order-summary {
    box-sizing: border-box;
    display: inline-block;
    width: 35%;
    border: 1px solid #BEBCBD;
    padding: 40px 20px;
    vertical-align: top;
    &__tittle {
        font-size: 24px;
        text-align: left;
        padding-bottom: 10px;
    }

    .total {
        display: flex;
        padding-top: 20px;
        font-size: 18px;
        font-weight: 700;
        justify-content: space-between;

        &__title {}

        &__price {}
    }
}