.item-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #BEBCBD;
}

.item-box:last-child {
    border-bottom: none
}

.item-img {
    width: 63px;
    height: auto;
    border-radius: 5px;
}

.item-info {
    padding-left: 5px;
    align-self: center;
    text-align: left;

    &__title {
        font-weight: 700;
        font-size: 14px;
        padding-bottom: 9px;
    }

    &__count {
        color: #807D7E;
    }

    &__text {
        color: #807D7E;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        &--md {
            padding-bottom: 5px;
        }
    }
}

.item-price {
    padding-left: 30px;
    color: #807D7E;
    font-size: 14px;
}

.item-del {

    cursor: pointer;
}

.favorite-box {
    padding-left: 100px;
    padding-right: 100px;
}