.item-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    border-bottom: 1px solid #BEBCBD;
}

.item-box:last-child {
    border-bottom: none
}

.item-img {
    // width: 105px;
    height: 120px;
    border-radius: 12px;
}

.item-info {
    padding-left: 20px;
    align-self: baseline;
    text-align: left;

    &__title {
        font-weight: 700;
        font-size: 18px;
        padding-bottom: 9px;
    }

    &__text {
        color: #807D7E;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        &--md {
            padding-bottom: 5px;
        }
    }
}

.item-price {
    padding-left: 350px;
}

.item-number {
    background-color: #F6F6F6;
    padding: 15px;

}

.item-del {

    cursor: pointer;
}

.favorite-box {
    padding-left: 100px;
    padding-right: 100px;
}

.cart-box {
    &__number-box {
        display: flex;
        align-items: center;

    }

    &__number-minus, &__number-plus {
        cursor: pointer;
        padding: 15px 10px;
        background-color: lightblue
    }
}