.to-main-page {
    text-transform: uppercase;
    text-decoration: solid;
    color: aqua;
    font-size: 35px;
    font-weight: 700;
    &:hover {
        text-decoration: underline;
    }
}

.order-title {
    font-size: 30px;
    font-weight: 500;
}